In [3]:
# importing necessery packages
!pip install apyori
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
from apyori import apriori

Requirement already satisfied: apyori in /opt/anaconda3/lib/python3.11/site-packages (1.1.2)

In [4]:
# Reading dataset
df = pd.read_csv('data.csv', header=None)

In [5]:
df.head()

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19
0,shrimp,almonds,avocado,vegetables mix,green grapes,whole weat flour,yams,cottage cheese,energy drink,tomato juice,low fat yogurt,green tea,honey,salad,mineral water,salmon,antioxydant juice,frozen smoothie,spinach,olive oil
1,burgers,meatballs,eggs,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,chutney,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,turkey,avocado,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,mineral water,milk,energy bar,whole wheat rice,green tea,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [6]:
#Replacing the null values with 0
df1 = df.replace(np.NaN, 0)
df1

,0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19
0,shrimp,almonds,avocado,vegetables mix,green grapes,whole weat flour,yams,cottage cheese,energy drink,tomato juice,low fat yogurt,green tea,honey,salad,mineral water,salmon,antioxydant juice,frozen smoothie,spinach,olive oil
1,burgers,meatballs,eggs,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
2,chutney,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
3,turkey,avocado,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
4,mineral water,milk,energy bar,whole wheat rice,green tea,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7496,butter,light mayo,fresh bread,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
7497,burgers,frozen vegetables,eggs,french fries,magazines,green tea,0,0,0,0,0,0,0,0,0,0,0,0,0,0
7498,chicken,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
7499,escalope,green tea,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0
7500,eggs,frozen smoothie,yogurt cake,low fat yogurt,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0,0

In [ ]:
#Call apriori function which requires minimum support, confidance and lift, min length is combination of item default is 2"
rules = apriori(transactions, min_support=0.003, min_confidence=0.2, min_lift=3, min_length=2)

In [ ]:
#it generates a set of rules in a generator file...
print(rules)

<generator object apriori at 0x10a4d5640>

In [ ]:
# all rules need to be converted in a list..
Results = list(rules)

In [ ]:
# Convert results into dataframe for further operations.
df_result = pd.DataFrame(Results)
df_result.head()

,items,support,ordered_statistics
0,"(light cream, chicken)",0.004533,"[((light cream), (chicken), 0.2905982905982905..."
1,"(escalope, mushroom cream sauce)",0.005733,"[((mushroom cream sauce), (escalope), 0.300699..."
2,"(escalope, pasta)",0.005866,"[((pasta), (escalope), 0.3728813559322034, 4.7..."
3,"(fromage blanc, honey)",0.003333,"[((fromage blanc), (honey), 0.2450980392156863..."
4,"(herb & pepper, ground beef)",0.015998,"[((herb & pepper), (ground beef), 0.3234501347..."

In [ ]:
# Keep support into a different dataframe so that we can use later.
support = df_result.support

In [ ]:
# Assining 4 empty list for holding lhs, rhs, confidence, and lift respectively.
first_value = []
second_value = []
third_value = []
fourth_value = []

# loop number of rows time and append 1 by 1 value in a separate list.. first and second element was frozenset which need to be
                      #converted in list..
for i in range(df_result.shape[0]):
  single_list = df_result['ordered_statistics'][i][0]
  first_value.append(list(single_list[0]))
  second_value.append(list(single_list[1]))
  third_value.append(single_list[2])
  fourth_value.append(single_list[3])

In [ ]:
lhs = pd.DataFrame(first_value)
rhs = pd.DataFrame(second_value)
confidence = pd.DataFrame(third_value)
lift = pd.DataFrame(fourth_value)

In [ ]:
# Combining all 4 results together for easier readability.
df_final = pd.concat([lhs, rhs,support, confidence, lift], axis = 1)
df_final

,0,1,2,0,1,2,support,0,0
0,light cream,None,None,chicken,None,None,0.004533,0.290598,4.843951
1,mushroom cream sauce,None,None,escalope,None,None,0.005733,0.300699,3.790833
2,pasta,None,None,escalope,None,None,0.005866,0.372881,4.700812
3,fromage blanc,None,None,honey,None,None,0.003333,0.245098,5.164271
4,herb & pepper,None,None,ground beef,None,None,0.015998,0.323450,3.291994
...,...,...,...,...,...,...,...,...,...
155,olive oil,ground beef,None,mineral water,nan,spaghetti,0.003066,0.216981,3.632981
156,pancakes,ground beef,None,mineral water,nan,spaghetti,0.003066,0.211009,3.532991
157,tomatoes,ground beef,None,mineral water,nan,spaghetti,0.003066,0.261364,4.376091
158,mineral water,milk,spaghetti,olive oil,nan,None,0.003333,0.211864,3.223519
159,milk,tomatoes,None,mineral water,nan,spaghetti,0.003333,0.238095,3.986501

In [ ]:
df_final.fillna(value=' ', inplace=True)

In [ ]:
df_final.columns = ['lhs',1, 2, 'rhs', 1, 2, 'Support', 'Confidence', 'Lift']

In [ ]:
df_final

,lhs,1,2,rhs,1,2,Support,Confidence,Lift
0,light cream,,,chicken,,,0.004533,0.290598,4.843951
1,mushroom cream sauce,,,escalope,,,0.005733,0.300699,3.790833
2,pasta,,,escalope,,,0.005866,0.372881,4.700812
3,fromage blanc,,,honey,,,0.003333,0.245098,5.164271
4,herb & pepper,,,ground beef,,,0.015998,0.323450,3.291994
...,...,...,...,...,...,...,...,...,...
155,olive oil,ground beef,,mineral water,nan,spaghetti,0.003066,0.216981,3.632981
156,pancakes,ground beef,,mineral water,nan,spaghetti,0.003066,0.211009,3.532991
157,tomatoes,ground beef,,mineral water,nan,spaghetti,0.003066,0.261364,4.376091
158,mineral water,milk,spaghetti,olive oil,nan,,0.003333,0.211864,3.223519
159,milk,tomatoes,,mineral water,nan,spaghetti,0.003333,0.238095,3.986501

In [ ]:
df_final.fillna(" ")

,lhs,1,2,rhs,1,2,Support,Confidence,Lift
0,light cream,,,chicken,,,0.004533,0.290598,4.843951
1,mushroom cream sauce,,,escalope,,,0.005733,0.300699,3.790833
2,pasta,,,escalope,,,0.005866,0.372881,4.700812
3,fromage blanc,,,honey,,,0.003333,0.245098,5.164271
4,herb & pepper,,,ground beef,,,0.015998,0.323450,3.291994
...,...,...,...,...,...,...,...,...,...
155,olive oil,ground beef,,mineral water,nan,spaghetti,0.003066,0.216981,3.632981
156,pancakes,ground beef,,mineral water,nan,spaghetti,0.003066,0.211009,3.532991
157,tomatoes,ground beef,,mineral water,nan,spaghetti,0.003066,0.261364,4.376091
158,mineral water,milk,spaghetti,olive oil,nan,,0.003333,0.211864,3.223519
159,milk,tomatoes,,mineral water,nan,spaghetti,0.003333,0.238095,3.986501

In [ ]:
df_final['Item1'] = str(df_final['lhs']) + str(" , ") + str(df_final[1]) + str(" , ") + str(df_final[2])

In [ ]:
df_final.columns

Index(['lhs', 1, 2, 'rhs', 1, 2, 'Support', 'Confidence', 'Lift', 'Item1'], dtype='object')

In [ ]:
df_final.columns

Index(['lhs', 1, 2, 'rhs', 1, 2, 'Support', 'Confidence', 'Lift', 'Item1'], dtype='object')

In [ ]:
df_final

,lhs,1,2,rhs,1,2,Support,Confidence,Lift,Item1
0,light cream,,,chicken,,,0.004533,0.290598,4.843951,0 light cream\n1 mushroom c...
1,mushroom cream sauce,,,escalope,,,0.005733,0.300699,3.790833,0 light cream\n1 mushroom c...
2,pasta,,,escalope,,,0.005866,0.372881,4.700812,0 light cream\n1 mushroom c...
3,fromage blanc,,,honey,,,0.003333,0.245098,5.164271,0 light cream\n1 mushroom c...
4,herb & pepper,,,ground beef,,,0.015998,0.323450,3.291994,0 light cream\n1 mushroom c...
...,...,...,...,...,...,...,...,...,...,...
155,olive oil,ground beef,,mineral water,nan,spaghetti,0.003066,0.216981,3.632981,0 light cream\n1 mushroom c...
156,pancakes,ground beef,,mineral water,nan,spaghetti,0.003066,0.211009,3.532991,0 light cream\n1 mushroom c...
157,tomatoes,ground beef,,mineral water,nan,spaghetti,0.003066,0.261364,4.376091,0 light cream\n1 mushroom c...
158,mineral water,milk,spaghetti,olive oil,nan,,0.003333,0.211864,3.223519,0 light cream\n1 mushroom c...
159,milk,tomatoes,,mineral water,nan,spaghetti,0.003333,0.238095,3.986501,0 light cream\n1 mushroom c...

In [ ]:
df_final['Item2'] = str(df_final['rhs']) + str(df_final[1]) + str(" , ") + str(df_final[2])

In [ ]:
df_final

,lhs,1,2,rhs,1,2,Support,Confidence,Lift,Item1,Item2
0,light cream,,,chicken,,,0.004533,0.290598,4.843951,0 light cream\n1 mushroom c...,0 chicken\n1 escalope\n2 ...
1,mushroom cream sauce,,,escalope,,,0.005733,0.300699,3.790833,0 light cream\n1 mushroom c...,0 chicken\n1 escalope\n2 ...
2,pasta,,,escalope,,,0.005866,0.372881,4.700812,0 light cream\n1 mushroom c...,0 chicken\n1 escalope\n2 ...
3,fromage blanc,,,honey,,,0.003333,0.245098,5.164271,0 light cream\n1 mushroom c...,0 chicken\n1 escalope\n2 ...
4,herb & pepper,,,ground beef,,,0.015998,0.323450,3.291994,0 light cream\n1 mushroom c...,0 chicken\n1 escalope\n2 ...
...,...,...,...,...,...,...,...,...,...,...,...
155,olive oil,ground beef,,mineral water,nan,spaghetti,0.003066,0.216981,3.632981,0 light cream\n1 mushroom c...,0 chicken\n1 escalope\n2 ...
156,pancakes,ground beef,,mineral water,nan,spaghetti,0.003066,0.211009,3.532991,0 light cream\n1 mushroom c...,0 chicken\n1 escalope\n2 ...
157,tomatoes,ground beef,,mineral water,nan,spaghetti,0.003066,0.261364,4.376091,0 light cream\n1 mushroom c...,0 chicken\n1 escalope\n2 ...
158,mineral water,milk,spaghetti,olive oil,nan,,0.003333,0.211864,3.223519,0 light cream\n1 mushroom c...,0 chicken\n1 escalope\n2 ...
159,milk,tomatoes,,mineral water,nan,spaghetti,0.003333,0.238095,3.986501,0 light cream\n1 mushroom c...,0 chicken\n1 escalope\n2 ...